<main class="main">
       
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">

                    <% if (count=0) {%>
                        <div class="text-center " style="margin-top: 10rem; margin-bottom: 10rem;">
                          <h1>My Cart</h1>
                          <p>Your cart is currently empty.</p>
                          <p>Start adding items to your cart by browsing our products.</p>
                          <a href="/shop">Browse products</a>
            
                        </div>

                                         
                    <%} else{ %>
                     

                        <table class="table shopping-summery text-center clean ">
                          <thead>
                              <tr class="main-heading" >
                              
                                  <th scope="col">Image</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Original Price</th>
                                  <th scope="col">Offer Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Subtotal</th>
                                  <th scope="col">Remove</th>
                              </tr>
                          </thead>
                       
                          <tbody>
                              
                    

                 
                                
                             
                             
                                <%cartItems.forEach(function(cartItems){%>
                                    <tr>
                                 
                                  <td > <img src="/productImages/<%=cartItems.carted.image[0]%>" ></td>
                                  <td class="product-des product-name">
                                      <h5 class="product-name"> <%=cartItems.carted.productName%><a href="shop-product-right.html">
                                      </a></h5>
                                      <p class="font-xs"></p> 
                                      <p class="font-xs"></p> 
                                     
                                  </td>
                                  <td class="price" cartItemss-title="Price"><%=cartItems.carted.Price%>
                                    <span> </span></td>
                                  <td class="price" cartItemss-title="Price"><span> </span></td>
                                  <td class="text-center" cartItemss-title="Stock">

                                      <div class="detail-qty border radius  m-auto">
                                         <div><button class="cart-item-count border border-success" onclick="">-</button></div>
                                          <div id=""></div>
                                        
                                          <div>  <button class="cart-item-count border border-success" onclick=""><%=cartItems.carted.quantity%></button></div> 
                                           
                                          <div>  <button class="cart-item-count border border-success" onclick=""  disabled>+</button></div> 
                                            
                                      </div>
                                  </td>
                                  <td class="text-right" cartItemss-title="total"><%=cartItems.carted.Price * cartItems.carted.quantity%>
                                 

                                  </td>
                                  <!-- <td class="action" cartItemss-title="Remove"><a href="#" class="text-muted"><i class="fi-rs-trash"></i></a></td> -->
                                  <td class="action" cartItemss-title="Remove"><button class="border border-success"  onclick=""><i class="fi-rs-trash"></i></button></td>
                                
                                  </tr>
                              
                              
                              
                                  <%}) %>
                       
                                   </tbody>
                       
                                  </table>
                                  <%} %>


                        
                      
                       
                    </div>
                  
                    <div class="row mb-50">
                        <div class="col-lg-6 col-md-12">
                        
                            
                
                        </div>
                   
                        <% if (count=0) {%>  <%} else{ %>
                        <div class="col-lg-6 col-md-12">
                          <div class="border p-md-4 p-30 border-radius cartItems-totals">
                              <div class="heading_s1 mb-3">
                                  <h4>cartItems Totals</h4>
                              </div>
                              <div class="table-responsive">
                                  <table class="table">
                                      <tbody>
                                          <tr>
                                              <td class="cartItems_total_label">cartItems Subtotal</td>
                                              <td class="cartItems_total_amount"><span id="subtotal" class="font-lg fw-900 text-brand"><%="total" %></span></td>
                                          </tr>
                                          <tr>
                                              <td class="cartItems_total_label">Shipping</td>
                                              <td class="cartItems_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                          </tr>
                                          <tr>
                                              <td class="cartItems_total_label">Total</td>
                                              <td class="cartItems_total_amount"><strong><span id="total" class="font-xl fw-900 text-brand "><%-total%></span></strong></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <a href="/check_out" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                          </div>
                      </div>
                      <%} %>

                      
                      

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>





</section>


<script>
                  

</script>
